{% extends "base.html" %}
{% load static %}
{% block main %}
{% load widget_tweaks %}
<div class="d-flex justify-content-between align-items-center pb-2 pt-4 pb-md-4"><div><a href="./single-message.html" class="btn btn-secondary disabled mb-3 mb-md-0"><span class="fas fa-plus mr-2"></span><span>Добавить</span></a></div>
<div class="d-block d-sm-flex">
<form method="GET" class="d-flex align-items-center">
      {% render_field data.apeals.form.status class="select-2 select-filter custom-select select2-hidden-accessible mx-2" %}
      {% render_field data.apeals.form.format class="select-2 select-filter custom-select select2-hidden-accessible mx-2" %}
      <button class="btn btn-primary"><span class="fas fa-filter"></span></button>
</form>
</div>
</div>
<div class="border bg-white border-light shadow-sm py-1 rounded">
      {% for apeals in data.apeals.qs %}
      <div class="card hover-state border-bottom rounded-0 py-3">
            <div class="card-body d-flex align-items-center flex-wrap flex-lg-nowrap py-0">
                  <div class="col-12 col-lg-2 pl-0">

                  {% if apeals.status == 0 %}
                        <span class="badge badge-secondary mr-2">{{ apeals.get_status_display }}</span>
                  {% elif apeals.status == 3 %}
                    <span class="badge badge-secondary mr-2">{{ apeals.get_status_display }}</span>
                  {% else %}
                        <span class="mr-2">{{ apeals.get_status_display }}</span>
                  {% endif%}


                  {% if apeals.format == 0 %}
                        <i class="fab fa-wpforms mr-2"></i> Форма <span class="badge badge-info ml-2">{{ apeals.form }}</span>
                  {% elif apeals.format == 1 %}
                        <i class="fa fa-envelope mr-2"></i> Email
                  {% elif apeals.format == 2 %}
                        <i class="fa fa-phone mr-2"></i> Телефон
                  {% endif%}


                  </div>
                  <div class="col-10 col-lg-3 pl-0">
                        <span class="h6 font-weight-normal mb-0">#{{ apeals.subject.id }} {{ apeals.subject }}</span>
                  </div>

                  <div class="col-2 col-lg-2 d-flex align-items-center justify-content-end px-0 order-lg-4">
                        <div class="text-muted small d-none d-lg-block">{{ apeals.created }}</div>
                  </div>
                  <div class="col-12 col-lg-5 d-flex align-items-center mt-3 mt-lg-0 pl-0">
                        <a href="{% url 'dashboard:apeals_details' apeals.id %}" class="font-weight-normal text-gray truncate-text">
                              <span class="font-weight-normal">{{ apeals.content }}</span>
                        </a>
                  </div>
            </div>
      </div>
      {% endfor %}

      <div class="row p-4">
            <div class="col-7 mt-1">
                  Showing 1 - 20 of 289
            </div> <!-- end col-->
            <div class="col-5">
                  <div class="btn-group float-right">
                        <a href="#" class="btn btn-light"><span class="fas fa-chevron-left"></span></a>
                        <a href="#" class="btn btn-primary"><span class="fas fa-chevron-right"></span></a>
                  </div>
            </div> <!-- end col-->
      </div>
</div>

{% endblock main %}