{% extends "base.html" %}
{% load static %}
{% block main %}
{% load widget_tweaks %}
<div class="row justify-content-center py-4">


    </div>
    <div class="row">
        <div class="col-12 col-md-4">

            <div class="card text-center">
                <div class="card-header">
                    <h5 class="mb-0">Карточка обращения</h5>
                </div>
                <div class="card-body pt-0">
                <form method="post" id="apeals_form" class="mt-4">
                        {% csrf_token %}
                        {% for hidden in data.apeals_form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                    <table class="table">
                        <tbody>
                            <tr>
                                <td scope="row">Дата создания</td>
                                <td>{{data.apeals_data.created}}</td>
                            </tr>
                            <tr>
                                <td scope="row">Срок исполнения</td>
                                <td>{{data.apeals_data.reminder}}</td>
                            </tr>
                            <tr>
                                <td scope="row">Последнее обновление</td>
                                <td>{{data.apeals_data.updated}}</td>
                            </tr>
                            {% for field in data.apeals_form.visible_fields %}
                            <tr>
                                <td scope="row">{{ field.label }}</td>
                                <td>{{ field|add_class:'form-control border border-light-gray mb-4' }}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td scope="row">ID обращения в "Дело"</td>
                                <td>{{data.apeals_data.delo_id}}</td>
                            </tr>
                            <tr>
                                <td scope="row">ID субъекта в "Дело"</td>
                                <td>{{data.apeals_data.subject.delo_id}}</td>
                            </tr>

                        </tbody>
                    </table>

                        <button type="" class="btn btn-block btn-light" name="update_apeals">Обновить</button>
                    </form>
                    
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="card bg-white border-light p-4 mb-4">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <span class="font-small">
                        <a href="#">
                            <span class="font-weight-bold">#{{data.apeals_data.subject.id}}
                                {% if data.apeals_data.subject.first_name %} {{data.apeals_data.subject.first_name}}
                                {{data.apeals_data.subject.last_name}} {% else %} Имя не указано{% endif %}</span>
                        </a>
                        <span class="ml-2">{{data.apeals_data.created}}</span>
                    </span>

                </div>
                <p class="m-0">{{data.apeals_data.content}}</p>
            </div>
            
            
            {% for comment in data.comments %}

                {% if comment.type == 0 %}
                    {% include 'includes/system_comment.html' with comment=comment %}
                {% else %}
                    {% include 'includes/comment.html' with comment=comment %}
                {% endif %}

            {% endfor %}

            <form method="post" id="comment_form" class="mt-4">
                {% csrf_token %}
                {% for hidden in data.comment_form.hidden_fields %}
                {{ hidden }}
                {% endfor %}

                {% for field in data.comment_form.visible_fields %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="h6 text-dark">{{ field.label }}</label>
                    {{ field|add_class:'form-control border border-light-gray mb-4' }}
                    {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <div class="file-field">
                        <div class="d-flex justify-content-left">
                            <div class="d-flex">
                                <span class="icon icon-md h6"><span class="fas fa-paperclip mr-3"></span></span>
                                <input type="file">
                                <div class="d-md-block text-left d-none d-sm-block">
                                    <div class="font-weight-normal text-dark mb-1">Прикрепление файла</div>
                                    <div class="text-gray small pr-1 pr-lg-6">Поддерживаемый формат: jpg, jpeg, png,
                                        doc, pdf, gif, zip, rare, tar, txt, xls, docx, xlsx, odt
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary" name="add_comment"><span
                            class="fas fa-paper-plane mr-2"></span>Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main %}